{% block main %}

    {{ form_start(form) }}

    <table class="table table-bordered table-striped">
        <thead>
        <tr>
            <th>Tipo de Menu</th>
            <th>Reservar</th>
            <th>Alimento</th>
            <th>Cantidad</th>
            <th>Precio</th>
        </tr>
        {% for entity in entities %}
        <tr>
            <th>{{ entity.tipoMenu }}</th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
            {% for menu_alimento in entity.menuAlimentos %}
                <tr>
                    <td></td>
                    <td><input type="checkbox" class="checkboxes" name="{{ menu_alimento.id }}"
                               value="{{ menu_alimento.id }}"
                                {% if menu_alimento.id in ids %} checked="checked" {% endif %}
                                {% if reservacion %} disabled="disabled" {% endif %}/>
                    </td>
                    <td>{{ menu_alimento.alimento.nombre }}</td>
                    <td>{{ menu_alimento.alimento.cantidad ~ " " ~ menu_alimento.alimento.unidadMedida }}</td>
                    <td>{{ menu_alimento.alimento.precio }}</td>
                </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td colspan="5">No existe un menu disponible para este dia</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% if reservacion is null and entities %}
        <div id="form-actions-row">
            <button type="submit" class="btn">
                <i class="fa fa-save"></i> Guardar cambios
            </button>
        </div>
    {% endif %}

    {% if reservacion %}
        <span class="label label-success">Estado: {{ reservacion.estado }}</span>
    {% endif %}

    {{ form_end(form) }}

{% endblock %}


