{% block main %}

    {{ form_start(aprobar_form) }}

    <table class="table table-responsive table-bordered table-striped">
        <thead>
            <tr>
                <th>Aprobar</th>
                <th>Tipo de Menu</th>
                <th>Plato</th>
                <th>Cantidad</th>
                <th>Precio</th>
            </tr>
        </thead>
        <tbody>
            {% for form in aprobar_form if form.vars.name != '_token' %}
                {% set entity = form.vars.value %}
                <tr>
                    <td>{{ form_widget(form.aprobado) }}</td>
                    <td>{{ entity.tipoMenu }}</td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                {% set total = 0 %}
                {% for menu_plato in entity.menuPlatos %}
                    <tr>
                        <td></td>
                        <td></td>
                        <td>{{ menu_plato.plato.nombre }}</td>
                        <td>{{ menu_plato.plato.norma ~ ' g' }}</td>
                        <td>{{ menu_plato.plato.precio }}</td>
                        {% set total = total + menu_plato.plato.precio %}
                    </tr>
                {% endfor %}
                <tr>
                    <td colspan="4"><b>Total</b></td>
                    <td>{{ total }}</td>
                </tr>
                {% else %}
                    <tr>
                        <td colspan="5">No se encontraron resultados</td>
                    </tr>
            {% endfor %}
        </tbody>
    </table>

    {% if aprobar_form.count > 1 %}
        <div id="form-actions-row">
            <div class="pull-right">
                <button type="submit" class="btn btn-success">Aceptar</button>
                <a href="{{ path('homepage') }}" class="btn btn-danger">Cancelar</a>
            </div>
        </div>
    {% endif %}

    {{ form_end(aprobar_form) }}

{% endblock %}