{% extends 'easy_admin/layout.html.twig' %}

{#{% form_theme form '@EasyAdmin/form/bootstrap_3_horizontal_layout.html.twig' %}#}

{% block body_class %} list list-menu {% endblock %}

{% block content_title %}Carta Técnica{% endblock %}

{% block main %}

    {#{{ form_start(form) }}
    <div class="row">
        <div class="col-lg-3">
            {{ form_row(form.platos) }}
        </div>
        <div class="col-lg-3">
            <button type="submit" class="btn btn-primary">
                <i class="fa fa-search"></i> Buscar
            </button>
        </div>
    </div>
    {{ form_end(form) }}#}

    {% if entity is not null %}
        {{ include('app/carta_tecnica_base.html.twig') }}

        {{ form_start(form) }}
        <div class="row">
            <div class="col-lg-11">
                <div id="form-actions-row">
                    <div class="pull-right">
                        <button type="submit" class="btn btn-default">Imprimir</button>
                        <a href="{{ path('homepage') }}" class="btn btn-danger">Cancelar</a>
                    </div>
                </div>
            </div>
        </div>
        {{ form_end(form) }}

    {% else %}
        Seleccione un plato
    {% endif %}

{% endblock %}