{% extends 'easy_admin/layout.html.twig' %}
{% form_theme form with easyadmin_config('design.form_theme') %}

{% block main %}

    {{ form_start(form) }}
    {{ form_errors(form) }}
    {{ form_row(form.fecha) }}
    {{ form_row(form.tipoMenu) }}
    {{ form_row(form.menuPlatos) }}

    <div id="form-actions-row">
        <button type="submit" class="btn">
            <i class="fa fa-save"></i> Guardar cambios
        </button>
    </div>

    {{ form_end(form) }}

{% endblock %}