{% extends 'easy_admin/layout.html.twig' %}

{% form_theme form '@EasyAdmin/form/bootstrap_3_horizontal_layout.html.twig' %}

{% block body_class %} list list-platos  {% endblock %}

{% block content_title %} Platos de menor aceptación{% endblock %}

{% block main %}
    <div class="row">
        <div class="col-lg-12">
            {{ form_start(form) }}
            <div class="col-lg-4">
                {{ form_row(form.inicio) }}
            </div>
            <div class="col-lg-4">
                {{ form_row(form.fin) }}
            </div>
            <div class="col-lg-1">
                {{ form_row(form.enviar) }}
            </div>
            <div class="col-lg-1">
                <a href="{{ path('reporte_platos') }}" class="btn btn-default">Limpiar</a>
            </div>
            {{ form_end(form) }}
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <table class="table table-bordered table-striped">
                <thead>
                <tr>
                    <th>Código</th>
                    <th>Nombre</th>
                    <th>Aceptación</th>
                </tr>
                </thead>
                <tbody>
                {% for plato in platos %}
                    <tr>
                        <td>{{ plato.plato.codigo }}</td>
                        <td>{{ plato.plato }}</td>
                        <td>{{ plato.aceptacion }}</td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="5">No se encontraron resultados</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            <div id="form-actions-row">
                <div class="pull-right">
                    <a href="{{ path('homepage') }}" class="btn btn-danger">Cancelar</a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}