{% extends 'easy_admin/layout.html.twig' %}

{% block main %}

    <ul id="myTab" class="nav nav-tabs">
        {% for fecha in semana %}
            <li class="list  {{ fecha.active ? 'active' }}">
                <a class="{{ fecha.active ? 'search' }}" data-toggle="tab" href="#{{ fecha.day|date('l') }}" id="{{ fecha.day|date('l') }}">
                    {{ fecha.day|localizeddate('none', 'none', 'es_ES','Europe/Berlin','eeee d/MM/Y')|title }}
                </a>
            </li>
        {% endfor %}
    </ul>
    &nbsp;
    <div id="menu"></div>
{% endblock %}

{% block body_javascript %}
    {{ parent() }}

    <script type="text/javascript">
        $(document).ready(function () {
            getDayMenu($('.search').attr('id'));

            $('li.list a').click(function () {
                getDayMenu($(this).attr('id'))
            });

           function getDayMenu(day) {
                $.ajax({
                    type: "GET",
                    url: Routing.generate('reservar', {day: day}),
                    success: function (html) {
                        $("#menu").html(html);
                    }
                });
            }

        });
    </script>
{% endblock body_javascript %}