{% extends 'easy_admin/layout.html.twig' %}

{% form_theme form with easyadmin_config('design.form_theme') %}

{% block content_title %}
    Cambiar clave
{% endblock %}

{% block main %}

    {{ form_start(form) }}
    {% if form.claveActual is defined %}{{ form_row(form.claveActual) }}{% endif %}
    {{ form_row(form.clave) }}

    <div class="col-xs-12 col-lg-offset-2">
        <div class="form-group">
            <div id="form-actions-row">
                <button type="submit" class="btn">
                    <i class="fa fa-save"></i> Guardar cambios
                </button>
                <a class="btn btn-secondary" href="{{ path('admin', { entity: 'Usuario', action: 'list' }) }}">
                    Volver al listado
                </a>
            </div>
        </div>
    </div>

    {{ form_end(form) }}

{% endblock %}
