{% extends 'easy_admin/layout.html.twig' %}

{% form_theme searchForm '@EasyAdmin/form/bootstrap_3_horizontal_layout.html.twig' %}

{% block body_class %} list list-salida new new-salida  {% endblock %}

{% block content_title %} Salida de productos{% endblock %}

{% block main %}
    <div class="row">
        <div class="col-lg-12">
            {{ form_start(searchForm) }}
            <div class="col-lg-4">
                {{ form_row(searchForm.fecha) }}
            </div>
            <div class="col-lg-1">
                {{ form_row(searchForm.buscar) }}
            </div>
            {{ form_end(searchForm) }}
        </div>
    </div>

    {{ form_start(form) }}

    <table class="table table-bordered table-striped">
        <thead>
        <tr>
            <th>Producto</th>
            <th>Unidad de Medida</th>
            <th>Cantidad existente</th>
            <th>Cantidad de salida</th>
        </tr>
        </thead>
        <tbody>
        {% for id,salida in salidas %}
            <tr>
                <td>{{ salida.producto }}</td>
                <td>{{ salida.producto.unidadMedida }}</td>
                <td>{{ salida.producto.cantidad }}</td>
                <td>{{ form_widget(attribute(form, id)) }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">No se encontraron resultados</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div id="form-actions-row">
        <div class="pull-right">
            {{ form_widget(form.aceptar, {'attr': {'class': 'btn'}}) }}
            {{ form_widget(form.generar, {'attr': {'class': 'btn'}}) }}
        </div>
    </div>

    {{ form_end(form) }}

{% endblock %}