{% extends 'easy_admin/list.html.twig' %}

{% form_theme form '@EasyAdmin/form/bootstrap_3_horizontal_layout.html.twig' %}

{% block content_header %}
    {{ parent() }}

    <div class="row">
        {{ form_start(form) }}
        <div class="col-lg-12">
            <div class="col-lg-4">
                {{ form_row(form.codigo) }}
            </div>
            <div class="col-lg-1">
                <button type="submit" class="btn btn-default"> Buscar</button>
            </div>
            <div class="col-lg-1">
                <a href="{{ path('admin', {'entity': 'Producto', 'action': 'list'}) }}" class="btn btn-default">Limpiar</a>
            </div>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock content_header %}

