{% extends 'easy_admin/layout.html.twig' %}

{% use '@EasyAdmin/form/bootstrap_3_layout.html.twig' %}
{% form_theme form _self %}

{% block _plato_productosPlato_entry_row %}
    <tr id="plato_productosPlato___name__">
        <td>{{ form_widget(form.producto) }}</td>
        <td>{{ form_widget(form.pesoBruto) }}</td>
        <td>{{ form_widget(form.pesoNeto) }}</td>
        <td>{{ form_widget(form.unidadMedida) }}</td>
        <td>
            <a href="#" onclick="
                    $(function() {
                        if (event.preventDefault) event.preventDefault(); else event.returnValue = false;
                        var containerDiv = $('#plato_productosPlato___name__');
                        containerDiv.remove();
                    });
                " class="btn btn-danger">
                <i class="fa fa-trash"></i>
            </a>
        </td>
    </tr>
{% endblock _plato_productosPlato_entry_row %}

{% block body_class %} list list-menu new new-plato {% endblock %}

{% block content_title %}Modificar Plato{% endblock %}

{% block main %}
    {{ form_start(form, {'attr':{'class':'form-horizontal new-form'}}) }}
<div class="row">
    <div class="col-sm-10 col-sm-offset-1">
        {{ form_errors(form) }}
        <br>
    </div>

    <div class="row">
    <div class="col-sm-3 col-sm-offset-9">
        <div class="col-sm-10">
            {{ form_row(form.codigo) }}
        </div>
    </div>
    </div>

    <div class="col-sm-3">
        <div class="col-sm-10">
            {{ form_row(form.nombre, {'label':'Nombre del plato'}) }}
        </div>
    </div>
    <div class="col-sm-3">
        <div class="col-sm-10">
            {{ form_row(form.norma, {'label': 'Norma a servir(g)'}) }}
        </div>
    </div>
    <div class="col-sm-3">
        <div class="col-sm-10">
            {{ form_row(form.precio) }}
        </div>
    </div>
    <div class="col-sm-3">
        <div class="col-sm-10">
            {{ form_row(form.categoria) }}
        </div>
    </div>

    <div class="col-sm-8">
        <fieldset>
            <legend> Valor Nutricional</legend>

            <div class="col-sm-6">
                <div class="col-sm-10">
                    {{ form_row(form.valorNutricProteina, {'label': 'Proteinas'}) }}
                </div>
            </div>
            <div class="col-sm-6">
                <div class="col-sm-10">
                    {{ form_row(form.valorNutricGrasa, {'label': 'Grasas'}) }}
                </div>
            </div>
            <div class="col-sm-6">
                <div class="col-sm-10">
                    {{ form_row(form.valorNutricCarbohidrato, {'label': 'Carbohidratos'}) }}
                </div>
            </div>
            <div class="col-sm-6">
                <div class="col-sm-10">
                    {{ form_row(form.valorNutricEnergia, {'label': 'Energias'}) }}
                </div>
            </div>
        </fieldset>
    </div>

    <div class="col-sm-4">
        <fieldset>
            <legend> Parametros de Coccion</legend>

            <div class="col-sm-8">
                <div class="col-sm-10">
                    {{ form_row(form.temperatura) }}
                </div>
            </div>
            <div class="col-sm-8">
                <div class="col-sm-10">
                    {{ form_row(form.tiempo) }}
                </div>
            </div>
        </fieldset>
    </div>

    <br>
    <div class="col-sm-4">
        <div class="col-sm-10">
            {{ form_row(form.observaciones) }}
        </div>
    </div>
    <div class="col-sm-4">
        <div class="col-sm-10">
            {{ form_row(form.preparacion) }}
        </div>
    </div>
    <div class="col-sm-4">
        <div class="col-sm-10">
            {{ form_row(form.coccion) }}
        </div>
    </div>

    <div class="col-sm-10">
        <div class="table-responsive" id="div_productos">
            <table class="table" id="productos">
                <thead>
                <tr>
                    <th>Producto</th>
                    <th>Peso Bruto</th>
                    <th>Peso Neto</th>
                    <th>Unidad de Medida</th>
                    <th>Eliminar</th>
                </tr>
                </thead>
                <tbody>
                {% for producto in form.productosPlato %}
                    <tr id="{{ 'plato_productosPlato_' ~ loop.index0 }}">
                        <td>{{ form_widget(producto.producto) }}</td>
                        <td>{{ form_widget(producto.pesoBruto) }}</td>
                        <td>{{ form_widget(producto.pesoNeto) }}</td>
                        <td>{{ form_widget(producto.unidadMedida) }}</td>
                        <td>
                            <a href="#" onclick="
                                    $(function() {
                                        if (event.preventDefault) event.preventDefault(); else event.returnValue = false;
                                        var containerDiv = $('#plato_productosPlato_{{ loop.index0 }}');
                                        containerDiv.remove();
                                    });
                                " class="btn btn-danger">
                                <i class="fa fa-trash"></i>
                            </a>
                        </td>
                    </tr>
                {% else %}
                    <tr id="no_records">
                        <td colspan="5">No se han adicionado productos</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

        {% set dp = form_row(form.productosPlato.vars.prototype)  %}
        <div id="div_plato_productosPlato"  data-prototype="{{ dp }}"></div>
        {#{{ form_row(form.productosPlato) }}#}

        <div class="col-sm-10">
                <div id="form-actions-row">
                    <button type="submit" class="btn btn-primary">
                        <i class="fa fa-save"></i> Aceptar
                    </button>
                    <a class="btn btn-danger" href="{{ path('admin', { entity: 'Plato', action: 'list' }) }}">
                            <i class="fa fa-arrow-left"></i> Cancelar
                    </a>
                </div>
        </div>

        {{ form_end(form) }}
    </div>


    {% endblock %}

    {% block body_javascript %}
        <script type="text/javascript">

            var $collectionHolder;
            // setup an "add" link
            var $addLink = $('<div class="col-sm-2"><a href="#" class="btn btn-success" role="button"><span class="fa fa-plus"></span> Agregar</a></div><br><br>');
            var $addLinkDiv = $('<div class="add-link"></div>').append($addLink);

            jQuery(document).ready(function () {

                $('div.collection-empty').remove();
                $('a.text-primary').remove();

                $collectionHolder = $('div#div_plato_productosPlato');
                $collectionHolder.append($addLinkDiv);

                // count the current form inputs we have (e.g. 2), use that as the new
                // index when inserting a new item (e.g. 2)
                //$collectionHolder.data('index', $collectionHolder.find(':input').length);


                $addLink.on('click', function (e) {
                    // prevent the link from creating a "#" on the URL
                    e.preventDefault();
                    // add a new form (see next code block)
                    addForm($collectionHolder, $addLinkDiv);
                });

                function addForm($collectionHolder, $addLinkDiv) {
                    // Get the data-prototype
                    var prototype = $collectionHolder.data('prototype');

                    // get the new index
                    //var index = $collectionHolder.data('index');
                    if ($('#no_records').length > 0) {
                        var index = 0;
                    } else {
                        var index = $('#productos tr').length - 1;
                    }
                    // Get the child forms number
                    $collectionHolder.data('num', $collectionHolder.find("div[id*='menu_menuPlatos_']").length);
                    var num = $collectionHolder.data('num') + 1;

                    // Set a proper label
                    var newForm = prototype.replace(/__name__label__/g, "# " + num);

                    // Replace '__name__' in the prototype's HTML to
                    // instead be a number based on how many items we have
                    var newForm2 = newForm.replace(/__name__/g, index);

                    // increase the index with one for the next item
                    $collectionHolder.data('index', index + 1);

                    $('table#productos tbody #no_records').remove();
                    $('table#productos tbody').append(newForm2);
                }

            });

        </script>
    {% endblock %}