{% extends '@EasyAdmin/default/layout.html.twig' %}

{% block head_stylesheets %}
    {{ parent() }}

    <style>
        body.new textarea {
            min-height: 100px;
        }
    </style>

    <link rel="stylesheet" href="{{ asset('assets/css/skin-blue.min.css') }}">
{% endblock head_stylesheets %}

 {% block body %}
     <body id="{% block body_id %}{% endblock %}" class="skin-blue layout-top-nav fixed {% block body_class %}{% endblock %}">
     <div class="wrapper">
         {% block wrapper %}

             <header class="main-header">
                 {#<div id="header-logo">
                     {% block header_logo %}
                         <a class="logo {{ easyadmin_config('site_name')|length > 14 ? 'logo-long' }}" title="{{ easyadmin_config('site_name')|striptags }}" href="{{ path('easyadmin') }}">
                             <span class="logo-mini">{{ easyadmin_config('site_name')|striptags|first|upper }}</span>
                             <span class="logo-lg">{{ easyadmin_config('site_name')|raw }}</span>
                         </a>
                     {% endblock header_logo %}
                 </div>#}

                 <nav class="navbar navbar-static-top">
                     <div class="container-fluid">
                         <div class="navbar-header">
                             <a href="{{ path('admin') }}" class="navbar-brand"><b>Admin</b></a>
                             <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
                                 <i class="fa fa-bars"></i>
                             </button>
                         </div>

                         <!-- Collect the nav links, forms, and other content for toggling -->
                         <div class="collapse navbar-collapse" id="navbar-collapse">
                             <ul class="nav navbar-nav">
                                 {{ include('menu.html.twig') }}
                             </ul>

                             <ul class="nav navbar-nav navbar-right">
                                 <li class="dropdown">
                                     <!-- Menu Toggle Button -->
                                     <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                         {% block user_menu %}
                                             <span class="sr-only">{{ 'user.logged_in_as'|trans(domain = 'EasyAdminBundle') }}</span>
                                             <i class="hidden-xs fa fa-user"></i>
                                             {% if app.user %}
                                                 {{ app.user.username|default('user.unnamed'|trans(domain = 'EasyAdminBundle')) }}
                                             {% else %}
                                                 {{ 'user.anonymous'|trans(domain = 'EasyAdminBundle') }}
                                             {% endif %}
                                         {% endblock user_menu %}
                                         {% if app.user %}
                                             <ul class="dropdown-menu">
                                                 <li>
                                                     <a href="{{ path('security_logout') }}">
                                                         <i class="hidden-xs fa fa-sign-out"></i> Salir
                                                     </a>
                                                 </li>
                                             </ul>
                                         {% endif %}
                                     </a>
                                 </li>
                             </ul>

                         </div><!-- /.navbar-collapse -->
                     </div><!-- /.container-fluid -->
                 </nav>
             </header>

             <div class="content-wrapper">
                 {% block content %}
                     {% block flash_messages %}
                         {{ _entity_config is defined ? include(_entity_config.templates.flash_messages) }}
                         {{ include('@EasyAdmin/default/flash_messages.html.twig') }}
                     {% endblock flash_messages %}

                     {#<section class="content-header">
                         {% block content_header %}
                             <h1 class="title">{% block content_title %}{% endblock %}</h1>
                         {% endblock content_header %}
                     </section>#}

                     <br>
                     <section id="main" class="content">
                         <div class="row">
                             <div class="col-lg-10 col-lg-offset-1">
                                 <div class="panel panel-primary">
                                     <div class="panel-heading">
                                         <h3 class="panel-title">{% block content_title %}{% endblock %}</h3>
                                     </div>
                                     <div class="panel-body">
                                         {% block content_header %}{% endblock content_header %}
                                         {% block main %}{% endblock %}
                                     </div>
                                 </div>
                             </div>
                         </div>
                     </section>
                 {% endblock content %}
             </div>
         {% endblock wrapper %}
     </div>

     {% block body_javascript %}{% endblock body_javascript %}

     {% for js_asset in easyadmin_config('design.assets.js') %}
         <script src="{{ asset(js_asset) }}"></script>
     {% endfor %}

     <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
     <script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>
     </body>
 {% endblock body %}



{#{% block wrapper %}

    <header class="main-header">
        <nav class="navbar navbar-static-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a href="../../index2.html" class="navbar-brand"><b>Admin</b>LTE</a>
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
                        <i class="fa fa-bars"></i>
                    </button>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>
                        <li><a href="#">Link</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something else here</a></li>
                                <li class="divider"></li>
                                <li><a href="#">Separated link</a></li>
                                <li class="divider"></li>
                                <li><a href="#">One more separated link</a></li>
                            </ul>
                        </li>
                    </ul>
                    <form class="navbar-form navbar-left" role="search">
                        <div class="form-group">
                            <input type="text" class="form-control" id="navbar-search-input" placeholder="Search">
                        </div>
                    </form>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#">Link</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something else here</a></li>
                                <li class="divider"></li>
                                <li><a href="#">Separated link</a></li>
                            </ul>
                        </li>
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>
    </header>

    #}{#<header class="main-header">
        #}{##}{#<div id="header-logo">
            {% block header_logo %}
                <a class="logo {{ easyadmin_config('site_name')|length > 14 ? 'logo-long' }}" title="{{ easyadmin_config('site_name')|striptags }}" href="{{ path('easyadmin') }}">
                    <span class="logo-mini">{{ easyadmin_config('site_name')|striptags|first|upper }}</span>
                    <span class="logo-lg">{{ easyadmin_config('site_name')|raw }}</span>
                </a>
            {% endblock header_logo %}
        </div>#}{##}{#

        <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
            <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                <span class="sr-only">{{ 'toggle_navigation'|trans(domain = 'EasyAdminBundle') }}</span>
            </a>
            <div class="navbar-custom-menu">
                <ul class="nav navbar-nav">
                    {{ include('menu.html.twig') }}
                    <li class="user user-menu">
                        {% block user_menu %}
                            <span class="sr-only">{{ 'user.logged_in_as'|trans(domain = 'EasyAdminBundle') }}</span>
                            <i class="hidden-xs fa fa-user"></i>
                            {% if app.user %}
                                {{ app.user.username|default('user.unnamed'|trans(domain = 'EasyAdminBundle')) }}
                            {% else %}
                                {{ 'user.anonymous'|trans(domain = 'EasyAdminBundle') }}
                            {% endif %}
                        {% endblock user_menu %}
                    </li>
                </ul>
            </div>
        </nav>
    </header>#}{#

    <div class="content-wrapper">
        {% block content %}
            {% block flash_messages %}
                {{ _entity_config is defined ? include(_entity_config.templates.flash_messages) }}
            {% endblock flash_messages %}

            <section class="content-header">
                {% block content_header %}
                    <h1 class="title">{% block content_title %}{% endblock %}</h1>
                {% endblock content_header %}
            </section>

            <section id="main" class="content">
                {% block main %}{% endblock %}
            </section>
        {% endblock content %}
    </div>
{% endblock wrapper %}#}
